.todo-table  table{
    width: 100%;
    border-collapse: collapse;
}

.todo-table table td, th {
    border: solid 1px silver;
    padding: 5px;
}

.add{
    margin-bottom: 10px;
}

.todo-table a{
    border-bottom: 1px solid blueviolet;
}

.add textarea{
    width: 40%;
}

.add button {
    border:  solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background: #9ca3af;
    position: relative;
    bottom: 13px;
}
